@page "/"

<h1>Hello, Planet FWD!</h1>
<h2>Welcome to Building UIs with Blazor!</h2>
<div style="padding-top:2em;">
    <h3>What is Blazor?</h3>
    <p>
        Blazor is a framework for building <b>interactive</b> web UIs. Shares many similarities with other popular UI frameworks (E.g. React, Angular, Vue).
    </p>
    <ul>
        <li>Developed by Microsoft, written in C#, runs on .NET</li>
        <li>Open source, complies with open web standards</li>
        <li>Supports building Single-page Applications (SPAs)</li>
    </ul>
</div>
<div style="padding-top:2em;">
    <h4>Benefits:</h4>
    <ul>
        <li>Single language/framework accross the tech-stack (No JavaScript!)</li>
        <li>
            Runs on virtually all browsers, including mobile
            <ul>
                <li>responsive - automatically handles various screen resolutions</li>
                <li>reactive/interactive - automatically updates display based on inputs</li>
            </ul>
        </li>
        <li>Supports wide range of deployment scenarios</li>
    </ul>
    <h4>Hosting Models</h4>
    <ol>
        <li>Server-side</li>
        <li>Client-side Standalone</li>
        <li>
            <b>Client-side Hosted</b>
        </li>
    </ol>
    <h4>Downside:</h4>
    <ul>
        <li>Some features that exist in more mature frameworks have <i>NOT</i> been implemented</li>
    </ul>
</div>
<div style="padding-top:2em;">
    <h3>Demo: Component-driven Development (CDD)</h3>
    <p>
        Build complex UIs as smaller components that can be combined together.
        Encourages:
        <ul>
            <li>
                Reusability; internally, component library
                <ul>
                    <li>Example: layout component</li>
                </ul>
            </li>
            <li>Customizability; user-event handling, rendering logic</li>
        </ul>
    </p>
    <p>
        Each component can be individually...
        <ol>
            <li>styled</li>
            <li>modified</li>
            <li>tested</li>
            <li>versioned</li>
        </ol>
    </p>
</div>