@page "/security"

<h1>Securing Blazor Client-side Applications</h1>
<p>Same concerns as other client-side frameworks.</p>
<h3>Authentication</h3>
<ul>
    <li>verifying the identity of a user</li>
</ul>
<h3>Authorization</h3>
<ul>
    <li>identifying which resources an authenticated user has access to</li>
</ul>
<div style="padding-top:2em">
    <ol>
        <li>
            <b>Client-side applications can NOT be trusted!</b>
        </li>
        <li>Authorization must be on the server-side</li>
    </ol>
</div>
    